<a href="https://colab.research.google.com/github/limpa105/RegexPlus/blob/main/RegexAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd 
regex_data = pd.read_csv('/content/regex.txt', sep='\n', header=None)

In [7]:
a_len = 0
for item in regex_data.to_numpy():
  for i in item[0]:
    if i == "(":
      a_len+=1;
print(a_len/10000)

3.3627

In [8]:
1/(3.3627)

0.29738008148214234

In [17]:
count_dict = { '[0-9]': 0 ,
'[A-Z]': 0,
'[AEIOUaeiou]' : 0, 
'[a-z]' : 0,
'constants' : 0,
'[A-Za-z]' : 0, 
'alphanumeric': 0}
for item in regex_data.to_numpy():
  if ("[A-Z]" in item[0]):
    count_dict['[A-Z]']+=1 
  if ("[A-Za-z]" in item[0]):
    count_dict['[A-Za-z]']+=1 
  if ("[0-9]" in item[0]):
    count_dict['[0-9]']+=1 
  if ("[AEIOUaeiou]" in item[0]):
    count_dict["[AEIOUaeiou]"] +=1
  if ("[a-z]" in item[0]):
    count_dict['[a-z]']+=1
  for i in count_dict.keys():
    item[0] = item[0].replace(i, "")
  item[0] = (item[0].replace("\\b", "")
                    .replace("(", "")
                    .replace(")", "")
                    .replace("*", "")
                    .replace(".", "")
                    .replace("&", "")
                    .replace("|", "")
                    .replace("~", "")
                    .replace("+", ""))
  if len(item[0]) > 0:
    count_dict["constants"] +=1;

In [18]:
count_dict = {k:[v] for k,v in count_dict.items()}  # WORKAROUND
df = (pd.DataFrame(count_dict)).T
df = df/ df.sum()
df = df.T
df['alphanumeric'] = 0.13
df["end"] = 1/(3.3627)
df = df.T
df = df/ df.sum()

In [19]:
df

                     0
[0-9]         0.095358
[A-Z]         0.093298
[AEIOUaeiou]  0.095092
[a-z]         0.094494
constants     0.228911
[A-Za-z]      0.093431
alphanumeric  0.091076
end           0.208340

In [23]:
sample = df.iloc[3:7]

In [24]:
sample  = sample/sample.sum()

In [36]:
first = pd.DataFrame()
first["x"] = [0.45]
first["[a-z]"] = 0.186 * 1/ 26
first["[A-Za-z]"] = 0.18395 * 1/ 52
first["alphanumeric"] = 0.1793 * 1/62

In [38]:
first

      x     [a-z]  [A-Za-z]  alphanumeric
0  0.45  0.007154  0.003537      0.002892

In [39]:
second

NameError: ignored

In [77]:
def weight():
     decis = re.compile(r'[0-9]+$')
     lows = re.compile(r'[a-z]+$')
     ups = re.compile(r'[A-Z]+$')
     alphas = re.compile(r'[a-zA-Z]+$')
     alnums = re.compile(r'[a-zA-Z0-9]+$')
     whites = re.compile(r'\s+$')
     words = re.compile(r'(\w+ )+$')
     if decis.match(s):
         yield "[0-9]+"
     if lows.match(s):
         yield "[a-z]+"
     if ups.match(s):
         yield "[A-Z]+"
     if alphas.match(s):
         yield "[a-zA-Z]+"
     if alnums.match(s):
         yield "[a-zA-Z0-9]+"
     if whites.match(s):
         yield "\\s+"
     if words.match(s):
         yield "(\w+ )+"
     # TODO: other tokens (capitalized words, stuff like that)

IndentationError: ignored